@use 'main'

$team-img-size: 200px
$team-img-radius: 100px

.team-img
    width: $team-img-size
    height: $team-img-size
    border-radius: $team-img-radius
    
.team-card
    @include main.wrapper
    color: main.$black
    border-radius: 20px
    margin-top: 4vh

    p
        font-size: main.$small