$bgcolor: lightblue
$textcolor: black
$fontsize: 18px

$dark_purple: #0d0221
$light_purple: #887bb0
$gray_purple: #413651
$white: snow
$black: black
$yellow: #fff4bd
$blue: #85d2d0
$red: #f4b9b8
$green: #85d383
$orange: #f7d6b7
$body_fontsize: 18px
$body_font_family: 'Roboto'
$wrapper_radius: 25px
$card_bgcolor: #413651
$card_textcolor: snow
$img_card_radius:10px
$huge: 72px
$big: 48px
$medium: 32px
$small: 21px
$tiny: 16px

/* Use the variables */
body
    background-color: $dark_purple
    color: $black
    font-size: $fontsize
    padding-top: 60px

    h2
        font-size: $medium
    p
        font-size: $tiny

@mixin wrapper
    padding: 15px
    margin-bottom: 15px
    background-color: $light_purple

.main-center
    padding: 20px 10px

.main-right
    padding: 20px 10px

.rightside
    @include wrapper

.article
    @include wrapper

.dark-article
    @include wrapper
    background-color: $dark_purple
    color: $white

div      
    &.card
        max-height: 11.6vw
        img
            height: 11.5vw
            object-fit: cover
            &.img-card
                width: 85%
        h5
            margin-left: -1.7vw
            margin-top: -0.5vw
            font-size: 1.5vw
        p
            margin-left: -1.7vw
            font-size: 1vw
            margin-bottom: 0.3vw

// Fonts

.huge
    font-size: $huge

.big
    font-size: $big
    
.medium
    font-size: $medium

.small
    font-size: $small

.tiny
    font-size: $tiny

.seriff
    font-family: 'Roboto Slab', seriff

.sans-seriff
    font-family: 'Roboto Slab', sans-seriff


.text-ellipsis-3
    text-overflow: ellipsis
    overflow: hidden
    // Addition lines for 2 line or multiline ellipsis
    display: -webkit-box !important
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    white-space: normal

.text-ellipsis-4
    text-overflow: ellipsis
    overflow: hidden
    // Addition lines for 2 line or multiline ellipsis
    display: -webkit-box !important
    -webkit-line-clamp: 4
    -webkit-box-orient: vertical
    white-space: normal